.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar-nav li a{
  
  padding-left: 5px;
  align-items: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-signin {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  
}
.form-signin .form-control:focus {
  z-index: 1;
}

.form-signup {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}
.form-signup .checkbox {
  font-weight: 400;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}


.form-profile {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
.form-profile .checkbox {
  font-weight: 400;
}
.form-profile .form-control {
  
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 18px;
} 

.card-component{
  margin-left:auto;
  margin-right: auto;
  margin-top: 2%;
}
#app {
  padding: 1rem;
  background: black;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #54FE55;
  text-shadow: 2px 2px 10px;
  font-size: 8rem;
  flex-direction: column;
}

#app .txt {
  font-size: 2rem;
}